<div class="social-container">
    <!-- padding-inline = 40px; padding-top:38px; padding-bottom:42px; -->
    <div class="social-profile">
    <!-- Grid, gap:32px -->
        <div class="social-profile-avatar">
            <img src="/images/avatar-jessica.jpeg" alt="">
        </div>
        <div class="social-profile-content">
        <!-- Grid, gap: 16px; -->
            <h4 class="social-profile-content-name">Jessica Randall</h4>
            <p class="social-profile-content-location">London, United Kingdom</p>
        </div>
        <div class="social-profile-content-quote">
            <q>Front-end developer and avid reader.</q>
        </div>
    </div>

    <div class="social-links">
    <!-- Grid, gap: 16px; -->
        <a href="">GitHub</a>
        <a href="">Frontend Mentor</a>
        <a href="">LinkedIn</a>
        <a href="">Twitter</a>
        <a href="">Instagram</a>
    </div>
</div>